<?php
session_start();
 // store session data
?>
<!doctype html>
<html><head>
<script>
var pais = 1
var comuna = 2
var lugar = 3
var objetivo = 3

    function add_comuna(){
        comuna++;

         var divtest = document.createElement("div");
             divtest.innerHTML = '<input class="col-md-6 borrar seleccion" type="text" id="comuna[]" name="comuna[]" placeholder="Comuna Visitada">';
            
        $('.boton_comuna').click(function() {
            var divcomuna = $(this).parents(':eq(1)').attr('id');
            var objTo = document.getElementById(divcomuna);

           
            objTo.appendChild(divtest)
 
        });     
               };
    </script>
   <script>


    function add_lugar(){
        lugar++;
         var divtest = document.createElement("div");
             divtest.innerHTML = '<input class="col-md-6 borrar seleccion" type="text" id="lugaresvisitados'+pais+'_'+lugar+'" name="lugares" placeholder="Lugar Visitado">',
            
        $('.boton_lugar').click(function() {
            var divlugar = $(this).parents(':eq(1)').attr('id');
            var objTo = document.getElementById(divlugar);

           
            objTo.appendChild(divtest)
 
        });     
               };
    </script>
    <script>
    function add_objetivo(){
        objetivo++;
         var divtest = document.createElement("div");
             divtest.innerHTML = '<input class="col-md-12 seleccion borrar" type="text" id="objetivos'+objetivo+'" name="objetivos" placeholder="Objetivos del Viaje">',
            
        $('.boton_objetivo').click(function() {
            var divobjetivo = $(this).parents(':eq(1)').attr('id');
            var objTo = document.getElementById(divobjetivo);

           
            objTo.appendChild(divtest)
 
        });     
               };

    </script>

    <script>
      
        function add_pais() {
            var color = $('body').attr('color');
            pais++;
            var objTo2 = document.getElementById('contenedorpais');
            var divtest2 = document.createElement("div");
        divtest2.innerHTML = '</div><hr class="espaciador3"><div id="paisregiones'+pais+'" class="col-md-12 col-xs-12 wrapper noseparado"> <div id="paisregion'+pais+'" class="col-md-12"> <h3 class="titulo col-md-12 '+color+'">País y Región</h3> <select id="countries" class="col-md-6 bfh-countries" data-country="CL" required></select> <select class="col-md-6 bfh-states" data-country="countries"  required></select> </div><!--Paisregion--> <div id="comuna'+pais+'" class="col-md-12"> <h3 class="titulo '+color+'">Comunas <input type="button" class="nopadding boton-mas2 boton_comuna pull-right" id="agregar_comuna" onclick="add_comuna();" value="+" /></h3> <input class="col-md-6 seleccion" type="text" id="comuna1_1" name="comuna" placeholder="Comuna Visitada"> <input class="col-md-6 seleccion borrar " type="text" id="comuna1_2" name="comuna" placeholder="Comuna Visitada"> </div> <!--Comuna1--> <div id="lugaresvisitados'+pais+'" class="col-md-12"> <h3 class="titulo '+color+'">Lugares Visitados <input type="button" class="nopadding boton-mas2 boton_lugar pull-right" id="agregar_lugar" onclick="add_lugar();" value="+" /></h3> <input class="col-md-6 seleccion" type="text" id="lugares" name="lugares" placeholder="Lugar Visitado" required> <input class="col-md-6 seleccion borrar" type="text" id="lugares" name="lugares" placeholder="Lugar Visitado"> <input class="col-md-6 seleccion borrar" type="text" id="lugares" name="lugares" placeholder="Lugar Visitado"> </div> <!--lugaresvisitados--> </div><!--Wrapper-->'; objTo2.appendChild(divtest2);
        };

    </script>


<script>

</script>



<meta charset="utf-8">
<title>Viáticos</title>
<body color="gris">
   <form id="ViaticosAddForm" method="post" action="registrar_viaticos.php">

     <h1 class="titulo">Solicitud de Viáticos <button type="button" class="close cerrarmodal nopadding" data-dismiss="modal" aria-hidden="true"></button></h1>
<div id="contenedorpais" class="col-md-6 contenedor">


<!--País y Regiones, Comunas y Lugares-->

    <div class="col-md-12 nopadding">
        <h1 class="titulo2 separado">País, Regiones y Comunas</h1>
    </div>
 
    <div id="paisregiones" class="col-md-12 col-xs-12 wrapper noseparado">

        <div id="paisregion" class="col-md-12">
            <h3 class="titulo col-md-12">País y Región</h1>
            
            <input class="col-md-6 seleccion" type="text" id="pais" name="pais" placeholder="País">
            <input class="col-md-6 seleccion" type="text" id="region" name="region" placeholder="Región">

        </div><!--Paisregion-->
    
    <div id="comuna1" class="col-md-12">
        <h3 class="titulo">Comunas <input type="button" class="nopadding boton-mas2 boton_comuna pull-right" id="agregar_comuna" onclick="add_comuna();" value="+" /></h3>

        <input class="col-md-6 seleccion" type="text" id="comuna" name="comuna" placeholder="Comuna Visitada">

    </div> <!--Comuna1-->

    <div id="lugaresvisitados" class="col-md-12">
       <h3 class="titulo">Lugares Visitados <input type="button" class="nopadding boton-mas2 boton_lugar pull-right" id="agregar_lugar" onclick="add_lugar();" value="+" /></h3>
            <input class="col-md-6 seleccion" type="text" id="lugar" name="lugar" placeholder="Lugar Visitado" required>

            
    </div> <!--lugaresvisitados-->
</div><!--Wrapper-->
</div>

        
</div>
  <script>
$( "#periodo" ).datepicker({
    inline: true
});
  </script>
    <script>
$( "#periodo2" ).datepicker({
    inline: true
});
  </script>

<div id="contenedorperiodo" class="col-md-6 nopadding contenedor ">
<!--/País Regiones, Comunas y lugares-->
    <div id="datos" class="col-md-12">
            
            <div id="tabladatos"class="col-md-12 wrapper">

            
                <div class="col-md-12">
                    <h3 class="titulo">Periodo desde/hasta</h3>
                    <input class="col-md-6 seleccion" type="text" id="periodo" name="desde" placeholder="Desde" required>
                    <input class="col-md-6 seleccion" type="text" id="periodo2" name="hasta" placeholder="Hasta" required>
                </div>
                <div class="col-md-12">
                    <div class="col-md-6 nopadding">
                        <h3 class="titulo">Tipo de Locomoción</h3>

                        <input class="col-md-12 seleccion" type="text" id="locomocion" name="locomocion" placeholder="Tipo de Locomoción" required>
                    </div>
                    

                    <div class="col-md-6 nopadding">
                        <h3 class="titulo">Proyecto</h3>

                        <input class="col-md-12 seleccion" type="text" id="proyecto" name="proyecto" placeholder="Proyecto" required>
                    </div>
                </div>
                <div class="col-md-12">
                    <h3 class="titulo">Motivo del Viaje</h3>

                    <input class="col-md-12 seleccion" type="text" id="motivo" name="motivo" placeholder="Motivo del Viaje" required>
                </div>

                <div id="objetivodiv" class="col-md-12">
                    <h3 class="titulo">Objetivos del Viaje <input type="button" class="nopadding boton-mas2 boton_objetivo pull-right" id="agregar_objetivo" onclick="add_objetivo();" value="+" /></h3>


                    <input class="col-md-12 seleccion" type="text" id="objetivos" name="objetivos" placeholder="Objetivos del Viaje" required>
                    <input class="col-md-12 seleccion borrar" type="text" id="objetivos" name="objetivos" placeholder="Objetivos del Viaje">
                    <input class="col-md-12 seleccion borrar" type="text" id="objetivos" name="objetivos" placeholder="Objetivos del Viaje">
                </div>

                <div class="col-md-6">
                    <h3 class="titulo">Total de Días</h3>

                    <input class="col-md-6 seleccion" type="number" id="dias_sinper" name="dias_sinper" placeholder="Sin Pernoctar" required>
                    <input class="col-md-6 seleccion" type="number" id="dias_per" name="dias_per" placeholder="Pernoctando" required>
                </div>

                <div class="col-md-6">
                    <h3 class="titulo">Monto total del Viático</h3>

                    <input class="col-md-12 seleccion" type="number" id="monto" name="monto" placeholder="Monto" required>
                </div>

    </div><!--/tabladatos .Wrapper-->
 <input type="submit" class="botongrande verde col-md-12"  value="Ingresar Solicitud"/>
</div><!--/datos-->
</div>
<script>
</script>
<script>
jQuery(function($) {
 
  
  // /////
  // Botón X
  function tog(v){return v?'addClass':'removeClass';} 
  $(document).on('input', '.borrar', function(){
    $('this')[tog(this.value)]('borrar');
  }).on('mousemove', '.borrar', function( e ){
    $('.borrar')[tog(this.offsetWidth-47 < e.clientX-this.getBoundingClientRect().left)]('onBorrar');   
  }).on('touchstart click', '.onBorrar', function( ev ){
    $(this).remove(); x--;
  });
  
  
});
</script>
<script>
 $('h1, h2, h3, h4').addClass('gris');
function elegir_verde(){
        $('body').attr('color','verde');
        $('h1, h2, h3, h4').addClass('verde');
        $('h1, h2, h3, h4').removeClass('gris');
        $(':button').addClass('verde');
        $(':button').removeClass('gris');
        var color = "verde";

    };
function elegir_gris(){
        $('body').attr('color','gris');
        $('h1, h2, h3, h4').addClass('gris');
        $('h1, h2, h3, h4').removeClass('verde');
        $(':button').addClass('gris');
        $(':button').removeClass('verde');
        var color = "gris";
    };

    
    
</script>

</div><!--Contenedor-->

<hr class="dashed">
    
<script>
    function submitter(){
        document.getElementById("selecciones").submit();
        }
</script>


</div>
<div id="impresora" class="hidden">

</div>


</div>
</div> <!--wrapper 2-->

</form>
</body>
</html>