@charset "utf-8";
/* CSS Document */

/* 
	Código escrito por Felipe Acuña Viera
	http://felipe.acunaviera.com/
	2015
*/
/*
	Reset:
	http://meyerweb.com/eric/tools/css/reset/ 
	v2.0 | 20110126
	License: none (public domain)
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* WIP */

.wip{
	background: url('../img/wip.gif') no-repeat;
	height: 150px;
	width: 150px;
	background-size:cover;

}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	width: 100%;
	height: 100%;
	
}
html {
      scroll-behavior: smooth;
    }
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
label{
	font-size: 11pt;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
strong{
	font-weight: 600;
	}
em{
	font-style: italic;
	}
/* </Reset>*/


/* Utilidades*/

.closebtn{
	z-index: 580000;
}




.solicitarfondos, .rendirfondos, .crearoc, .ingresaroc, .solicitarper, .revisarinfo , .revisarmisliquidaciones, .permisoadmin, .permisohoras, .feriadolegal, .honorarios, .remuneraciones, .crearinforme, .revisarmisinformes, .solicitaranticipo, .gentarjetas, .genpendon{
	width: 350px;
	height: 390px;

	margin: 5px;
	float: left;
	background-position: center center!important;
	background-size: contain;
}

label[for=type-medio-admin]{
	width: 400px;
	height: 400px;
	margin: 5px;
	float: left;
	background-size: contain;
	background: url('../img/mediodia.jpg')no-repeat center center!important;
	display: inline-block;
	margin: 1px!important;
	color: transparent;
	float: left;

}



.seleccionpermisoadmin td{
	margin: auto
}

label[for=type-administrativo]{
	width: 400px;
	height: 400px;
	margin: 5px;
	float: left;
	background-position: center center!important;
	background-size: contain;
	background: url('../img/diacompleto.jpg')no-repeat!important;
	display: inline-block;
	margin: 1px!important;
	color: transparent;

}

label.checked {
	-webkit-filter: grayscale(1%)!important;
	filter: grayscale(1%)!important;
}

.radio label{
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);

}

#type-medio-admin, #type-administrativo{
	display: none;
}

.pantalla{
	display: inline-block;

	}



.fondoblanco{
	background-color: #FFFFFF;

}
.dd_wrap{
	z-index: 1200!important;
}

.input150{
	width: 150px!important;

}

.thsm{
	height: 25px!important;
}

::selection {
  background: #85C422; /* WebKit/Blink Browsers */
  color: #FFFFFF;
}
::-moz-selection {
  background: #404041; /* WebKit/Blink Browsers */
  color: #8CC63E;
}

.separado{
	margin: 15px 0;

}
.nopadding{
	padding:0 !important;
	}
.nomargin{
	margin: 0!important;
}
.dashed{
	border: 0;
	border-bottom:dashed 1px #B3B3B3;
	clear: both;
	padding: 0.5em;
	}
.centrar{
	margin: auto!important;
	}
.bottom15{
	position: absolute;
	bottom: 15px;
	left: 0;
	z-index: 2;
}
.bottomfloat{
	position: fixed;
	bottom: 15px;
	left: 0;
	z-index: 1;
}

.modal
{
    overflow-y: auto;



}
.modal-content{
	border-radius: 0!important;
	
	background: #FFF;


}

.modal-content .wrapper{

	-webkit-box-shadow: 0px 31px 86px -49px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 31px 86px -49px rgba(0,0,0,0.75);
box-shadow: 0px 31px 86px -49px rgba(0,0,0,0.75);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.tablaoc input{
	margin: 0 0 0 0!important;
}

.tablaoc th {
	vertical-align:middle!important;
 	
}

/*</Utilidades>*/

/*Color Styles*/

.progress-bar-ceaf{
	background-color: #8BC53F;	
	color:#757575;
    z-index: 1;
    position: absolute;	
}
.progress {
    position: relative;
    margin-bottom: 10px;
}
.progress:hover *{
	color: #565656;
	font-weight: 600;
}

.progress span {
    position: absolute;
    top: 3px;
    z-index: 2;
    color: #757575;
    text-align: center;
    font-size: 10pt;
    width: 100%;
    
}

p.blanco{
	color: #FFFFFF;

}

.verde1{
	background: #8CC63E;
}

.verde .boton-mas , .verde .boton-mas2 , .botongrande .verde{
	color: #57B947!important;
	background: #8CC63E;
}
.verde{
	background: #8CC63E;
	color: #FFFFFF;

}



.gris{
	background: #404041;
	color: #FFFFFF;
	font-weight: 300;
}

.gris .boton-mas, .gris .boton-mas2 .gris .botongrande{
	background: #F1F1F2;
	color: #808284;
}

.modal-backdrop {
  background-color: #8CC63E;
}
.rendicion th{
	background: #414141;
	color: #FFFFFF;
	font-weight: 300;
	padding-top: 10px!important;

}

.textocentro *{
	text-align: center!important;
}

#tabladatos{
	padding-top: 15px;
}


/*</Colorstyles*/

/*Títulos*/

th{
	background: #F1F1F2;
	color: #808284;
	font-weight: 600;
	min-height: 35px;
	
}
td{
	text-align: center;
	padding: 0!important;
	

}


td input, td select{
	width: 100%!important;
	min-height: 35px!important;
	margin: 0!important;
	border: 1px solid #BFBFBF!important;
	
}

h1.mutual{
	font-size: 30pt;
	color:#8DC63F;
	font-weight: 800;
}

h1.titulo{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #8CC63E;
	background: #404041;
	text-align: center;
	padding: 10px;
	font-size: 20pt;
	width: 100%!important;
	


	
}

h1.grande{
	font-size: 20pt;
	font-weight: 800;
}



.textoverde{
	color: #86BC40!important;
}

#perfil1 h2{
	font-size: 15pt;
	font-weight: 500;
}



.ancho100{
	width: 100%!important;
}

h1.titulo2{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	text-align: center;
	font-size: 17pt;
	padding: 7px;
	background: #404041;
	color: #FFFFFF;
}
h1.titulo2.separado .verde{
	background: #58b947; /* Old browsers */
	background: -moz-linear-gradient(top, #58b947 0%, #4aa146 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#58b947), color-stop(100%,#4aa146)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #58b947 0%,#4aa146 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #58b947 0%,#4aa146 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #58b947 0%,#4aa146 100%); /* IE10+ */
	background: linear-gradient(to bottom, #58b947 0%,#4aa146 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#58b947', endColorstr='#4aa146',GradientType=0 ); /* IE6-9 */

}
h3.titulo{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	text-align: center;
	background: #404041;
	color: #FFFFFF;
}
h3.tituloboton{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	text-align: center;
	background: #404041;
	color: #FFFFFF;
	padding-left: 47px;
}
h1.bienvenida{
	color: #FFFFFF;
	font-weight: 400;
	font-size: 18pt;
	text-align: justify;
	background: none!important;

}
h1.bienvenidasub{
	color: #FFFFFF;
	font-weight: 300;
	font-size: 12pt;
	text-align: justify;
	line-height: 1.2;
	background: none!important;
}

h1.modularh1{
	font-weight: 400;

	font-size: 25pt;
}


/*</Titulos>*/

/* Estructura */
body{
	background: #F4F4F4;
	font-family: 'Open Sans', sans-serif!important;

}
.ceafblanco{
	background: url('../img/ceafblanco.png') no-repeat;
	background-size: contain;
	height: 86px;
	width: 180px;

}

.logogrande{
	background: url('../img/modulargrande.png') no-repeat;
	height: auto;
	min-height: 120px;
	width: 100%;
	background-size: contain;

}

.logochico{
	background: url('../img/modulargrande.png') no-repeat center center;
	height: auto;
	min-height: 50px;
	width: 100%;
	background-size: contain;
	margin: auto;
}
.container{
	padding-top: 45px;
}

div.wrapper{
	padding: 25px 0 30px 0;
	background: #FFFFFF;
	font-weight: 300;
	line-height: 2em;
	display: inline-block;
	}

hr.espaciador{
 	width: 100%;
 	height: 0px;
 	border: none!important;

}
hr.espaciador2{
 	width: 100%;
 	height: 15px;
 	border: none!important;

}
hr.espaciador3{
 	width: 100%;
 	background:#F4F4F4;

}

.circulonav{
	margin: 48px 0 48px 0;
	width: 24px;
	height: 24px;
	background: white;
	border-radius: 12px;
	opacity: .8;
}

.circulonav:hover{
	opacity: 1;
	border: 2px solid #F2F2F2;
	-webkit-transition: all 0.2s; /* Safari */
    transition: all 0.2s;
}
.circulos{
	position: fixed;
	height: 0px!important;
	width: 0px!important;
	overflow: visible;
	margin-top: -50px;
	margin-right: 100px;
}
.sandwich{
	background: url('../img/sandwich.png') no-repeat;
	background-size: contain;
	width: 38px;
	height: 32px;
	margin: 20px;
	opacity: .8;
	-webkit-transition: all 0.2s; /* Safari */
    transition: all 0.2s;

}

.sandwich:hover{
	opacity: 1;

}

.contcirc{
	height: 180px;
	position: absolute;
}

.seleccion{
	border: 1px #898989 solid;
	border-top: none;
	background: #fff;
	color: #808284!important;
	font-weight: 300;
	height: 45px;
	padding: 5px 25px 5px 15px!important;

}

.top-bar{
	display: none!important;

}
.borrar{
  background: #fff url('../img/x1.jpg') no-repeat right -45px center;
  transition: background 0.4s;
}
.borrar {
	background-position: right 15px center;
}
.borrar.onBorrar:hover{
	cursor: pointer;
	background: #fff url('../img/x2.jpg') no-repeat right 15px center;
	}

.modulo{
	height: 250px;
	background-position: right!important;
	background-repeat:no-repeat!important;
	overflow: hidden;
	text-decoration: none!important;

}

.modulo2{
	height: 250px;
	background-position: center!important;
	background-repeat:no-repeat!important;
	overflow: hidden;
	text-decoration: none!important;

}


.modulo *{
	text-decoration: none!important;
}
#modulo1{
	background: #f48f3d url('../img/modulo1.png');
	background-size: contain;

}

#modulo2{
	background: #5cb0ce url('../img/modulo2.png');
	background-size: contain;
}

#modulo3{
	background: #ed6161 url('../img/modulo3.png');
	background-size: contain;

    





}

#modulo4{
	background: #6ca996 url('../img/modulo4.png');
	background-size: contain;


    filter: grayscale(100%); /* Current draft standard */
    -webkit-filter: grayscale(100%); /* New WebKit */
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%); 
    -o-filter: grayscale(100%); /* Not yet supported in Gecko, Opera or IE */ 
    filter: url(resources.svg#desaturate); /* Gecko */
    filter: gray; /* IE */
    -webkit-filter: grayscale(1); /* Old WebKit */

}

#modulo5{
	background: #5cb0ce url('../img/modulo5.png');
	background-size: contain;

}

#modulo6{
	background: #6ca996 url('../img/modulo6.png');
	background-size: contain;
}




#directoriomod{
	background: #F48F3D url('../img/directorio.jpg') center;
}

#herramientasmod{
	background: #5CB0CE url('../img/herramientas.jpg') center;
}

#ajustesmod{
	background: #ee605f url('../img/ajustes.jpg') center;
}


.moduloli{
	text-decoration: none!important;
	color: #8CC63E;
	font-weight: 300;
	font-size: 18pt;
	list-style: none;
	height: 250px;
	background: #58585B;
	margin: 10px -15px 10px -15px;
	padding-top: 250px;
	background-clip: content-box;
	transition: 0.5s;
	text-decoration: none!important;
}

.moduloli2{
	text-decoration: none!important;
	color: #8CC63E;
	font-weight: 300;
	font-size: 18pt;
	list-style: none;
	height: 250px;
	background: #58585B;
	margin: 10px 0px;
	padding-top: 250px;
	background-clip: content-box;
	transition: 0.5s;

}

.moduloli:hover{
	padding-top: 200px;
	text-decoration: none!important;

}

.modtexto{
	padding: 5px 15px;
 }

.rendiciones:hover{
	padding-top: 100px;

}

.textarea{
	width: 100%!important;
	max-width: 100%!important;
	height: auto;
	min-height: 30px;
	max-height: 150px!important;
}
textarea#justificacion:parent{
	
}
.seleccionmodulos{
	height: 450px;
	padding: 25px;
	width: 855px;
	margin:auto!important;
}

.seleccionmodulos3{
	min-height: 450px!important;
	max-width: 1100px;
	margin: auto!important;
}

#grafico1{
	margin-bottom: 45px;
}

.legend {
	width: 10em;
    margin: 25px auto 25px auto;
    font-size: 14pt;
    font-weight: 200;
    text-align: center
}

.legend .title {
	margin: auto;
    display: block;
    margin-bottom: 0.5em;
    line-height: 1.2em;
    padding: 0 0.3em;
}

.legend .color-sample {
    display: block;
    float: left;
    width: 1em;
    height: 1em;
    border: 2px solid; /* Comment out if you don't want to show the fillColor */
    border-radius: 0.5em; /* Comment out if you prefer squarish samples */
    margin-right: 0.5em;
}


/* </Estructura> */

/* The Overlay (background) */
.overlayperfil {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(30,30,30); /* Black fallback color */
    background-color: rgba(30,30,30, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlayperfil a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlayperfil a:hover, .overlayperfil a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlayperfil .closebtn {
    position: absolute;
    top: 0px;
    right: 20px;
    font-size: 60px;
}

.miperfilcontent{
	z-index: 250;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlayperfil a {font-size: 20px}
    .overlayperfil .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}



/*Botones*/
ul.nav-tabs{
	font-size: 10pt;
	border: none!important;
}
ul.nav-tabs>li.active a{
	background-color: #8DC63F!important;
	border-radius: 10px!important;
	color: #FFFFFF!important;
	font-weight: 300;
	border: none!important;

}
ul.nav-tabs>li a{
	border-radius: 10px!important;
	font-weight: 300;
	border: none!important;
	color: #8dc63F;
}

.botondown{
	background: url('../img/botondown.png') no-repeat center;
	height: 79px;
	width: 79px;
	cursor: pointer;
	cursor: hand;
}
.botontop{
	background: url('../img/top.png') no-repeat center;
	height: 79px;
	width: 79px;
	cursor: pointer;
	cursor: hand;
	opacity: .8;
}

.botongrande {
	font-size: 20pt;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(226, 226, 226, 0.3);
	-moz-box-shadow:    0px 0px 15px 0px rgba(226, 226, 226, 0.3);
	box-shadow:         0px 0px 15px 0px rgba(226, 226, 226, 0.3);
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	color: #FFFFFF;
	border: none!important;
}

.boton-verde{
	background: #57B947;
}
.boton-negro{
	background: #404041;
}

.boton-mas , .boton-mas>visited{
	width: 47px;
	height: 47px;
	margin: -8px -7px -8px -7px;
	border-radius: none!important;
	
	border: none;
	font-weight: 700;
	font-size: 25pt;
}

.boton-mas2 , .boton-mas2>visited{
	width: 47px;
	height: 33px;
	margin: -1px 1px -1px 1px;
	border-radius: none!important;
	border: none;
	font-weight: 700;
	font-size: 20pt;
}
.cerrarmodal{
	background: url('../img/cerrarmodal.png') no-repeat !important;
	background-position: top;
	opacity: 1 !important;
	width: 45px;
	height: 45px;
	border: none!important;
	margin: -10px -10px 0 auto;
	z-index: 12;

}

.cerrarmodal:hover{
	background-position: bottom!important;

}



.solicitarfondos{
	background: url('../img/solicitarfondos.jpg')no-repeat;
	display: inline-block;

}

.rendirfondos{
	background: url('../img/rendirfondos.jpg')no-repeat;
	display: inline-block;
}

.crearoc{
	background: url('../img/crearorden.jpg')no-repeat;

	display: inline-block;
}

.ingresaroc{
	background: url('../img/ingresarcompra.jpg')no-repeat;

	display: inline-block;
}
.solicitarper{
	background: url('../img/solicitarpermiso.jpg')no-repeat;

	display: inline-block;
}
.revisarinfo{
	background: url('../img/revisarinfo.jpg')no-repeat;

	display: inline-block;
}

.revisarmisliquidaciones{
	background: url('../img/revisarmisliquidaciones.jpg')no-repeat;

	display: inline-block;
}


.permisoadmin{
	background: url('../img/permisoadm.jpg')no-repeat center center;

	display: inline-block;
}
.permisohoras{
	background: url('../img/permisohoras.jpg')no-repeat center center;

	display: inline-block;
}
.feriadolegal{
	background: url('../img/feriado.jpg')no-repeat center center;

	display: inline-block;
}
.permisomediama{
	background: url('../img/mediama.jpg')no-repeat!important;

	display: inline-block;
	margin: 1px!important;
	-webkit-filter: grayscale(100%);
filter: grayscale(100%);
}
.permisomediatar{
	background: url('../img/mediatarde.jpg')no-repeat!important;
	padding: 5px;

	display: inline-block;
	padding: 0 15px 0 15px;
	margin: 1px!important;
	-webkit-filter: grayscale(100%);
filter: grayscale(100%);
}
.permisodiacom{
	background: url('../img/diacompleto.jpg')no-repeat !important;
	padding: 5px;

	display: inline-block;
	margin: 1px!important;
	-webkit-filter: grayscale(100%);
filter: grayscale(100%);
}
input[name="permiso"]{
	display: none;
}

.honorarios{
	background: url('../img/honorarios.jpg')no-repeat;

	display: inline-block;
}

.remuneraciones{
	background: url('../img/remuneraciones.jpg')no-repeat;

	display: inline-block;
}

.crearinforme{
	background: url('../img/crearinforme.jpg')no-repeat;

	display: inline-block;
}

.revisarmisinformes{
	background: url('../img/revisarmisinformes.jpg')no-repeat;

	display: inline-block;
}

.solicitaranticipo{
	background: url('../img/solicitaranticipo.jpg')no-repeat;

	display: inline-block;
}



.btn.active{
	-webkit-box-shadow: 0px 0px 15px 0px rgba(138, 197, 67, 0.9);
	-moz-box-shadow:    0px 0px 15px 0px rgba(138, 197, 67, 0.9);
	box-shadow:         0px 0px 15px 0px rgba(138, 197, 67, 0.9);
	-webkit-filter: grayscale(0);
	filter: grayscale(0%);


}

.gentarjetas{
	background: url('../img/gentarjetas.jpg')no-repeat;

	display: inline-block;
}
.genpendon{
	background: url('../img/genpendon.jpg')no-repeat;

	display: inline-block;
}
.checkgrande{
	width: 20px;
	height: 20px;
}
label.labelcheckgrande{
	display: block;
	margin-top: -15px;
}

#logovista{
	background: url('../img/logovista.jpg')no-repeat;
	background-position: left center;
	background-size: contain;
	min-height: 100px;
}

#titulovista{
	font-size: 30pt;
	color: #5D5D5D;
}

#cabeceravista{
	margin-bottom: 15px;
	line-height: 1.3;
}

#codigovista{
	margin-top: 30px;
}

.vista{
	border: 1px solid #DBDBDB;
	padding: 50px;
}

.topinput{
	
}

#justificacion{
	width: 100%!important;
	max-height: 180px;
}

button.borraroc{
	width: 30px!important;
	height: 30px!important;
	background: #fff url('../img/x1.jpg') no-repeat center center;
	padding:0;
	margin: 3px auto auto 10px;
}

button.borraroc:hover{
	background: #fff url('../img/x2.jpg') no-repeat center center;
}

/*</Botones>*/

/*Login*/

/* Fonts */

@font-face {
    font-family: 'fonts/bebas_neue_regularregular';
    src: url('fonts/bebasneue_regular-webfont.eot');
    src: url('fonts/bebasneue_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bebasneue_regular-webfont.woff2') format('woff2'),
         url('fonts/bebasneue_regular-webfont.woff') format('woff'),
         url('fonts/bebasneue_regular-webfont.ttf') format('truetype'),
         url('fonts/bebasneue_regular-webfont.svg#bebas_neue_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'fonts/bebas_neuebook';
    src: url('fonts/bebasneue_book-webfont.eot');
    src: url('fonts/bebasneue_book-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bebasneue_book-webfont.woff2') format('woff2'),
         url('fonts/bebasneue_book-webfont.woff') format('woff'),
         url('fonts/bebasneue_book-webfont.ttf') format('truetype'),
         url('fonts/bebasneue_book-webfont.svg#bebas_neuebook') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* BEGIN Light */
@font-face {
  font-family: 'Open Sans';
  src: url("./fonts/Light/OpenSans-Light.eot?v=1.1.0");
  src: url("./fonts/Light/OpenSans-Light.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("./fonts/Light/OpenSans-Light.woff2?v=1.1.0") format("woff2"), url("./fonts/Light/OpenSans-Light.woff?v=1.1.0") format("woff"), url("./fonts/Light/OpenSans-Light.ttf?v=1.1.0") format("truetype"), url("./fonts/Light/OpenSans-Light.svg?v=1.1.0#Light") format("svg");
  font-weight: 300;
  font-style: normal; }
/* END Light */
/* BEGIN Light Italic */
@font-face {
  font-family: 'Open Sans';
  src: url("./fonts/LightItalic/OpenSans-LightItalic.eot?v=1.1.0");
  src: url("./fonts/LightItalic/OpenSans-LightItalic.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("./fonts/LightItalic/OpenSans-LightItalic.woff2?v=1.1.0") format("woff2"), url("./fonts/LightItalic/OpenSans-LightItalic.woff?v=1.1.0") format("woff"), url("./fonts/LightItalic/OpenSans-LightItalic.ttf?v=1.1.0") format("truetype"), url("./fonts/LightItalic/OpenSans-LightItalic.svg?v=1.1.0#LightItalic") format("svg");
  font-weight: 300;
  font-style: italic; }
/* END Light Italic */
/* BEGIN Regular */
@font-face {
  font-family: 'Open Sans';
  src: url("./fonts/Regular/OpenSans-Regular.eot?v=1.1.0");
  src: url("./fonts/Regular/OpenSans-Regular.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("./fonts/Regular/OpenSans-Regular.woff2?v=1.1.0") format("woff2"), url("./fonts/Regular/OpenSans-Regular.woff?v=1.1.0") format("woff"), url("./fonts/Regular/OpenSans-Regular.ttf?v=1.1.0") format("truetype"), url("./fonts/Regular/OpenSans-Regular.svg?v=1.1.0#Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
/* END Regular */
/* BEGIN Italic */
@font-face {
  font-family: 'Open Sans';
  src: url("./fonts/Italic/OpenSans-Italic.eot?v=1.1.0");
  src: url("./fonts/Italic/OpenSans-Italic.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("./fonts/Italic/OpenSans-Italic.woff2?v=1.1.0") format("woff2"), url("./fonts/Italic/OpenSans-Italic.woff?v=1.1.0") format("woff"), url("./fonts/Italic/OpenSans-Italic.ttf?v=1.1.0") format("truetype"), url("./fonts/Italic/OpenSans-Italic.svg?v=1.1.0#Italic") format("svg");
  font-weight: normal;
  font-style: italic; }
/* END Italic */
/* BEGIN Semibold */
@font-face {
  font-family: 'Open Sans';
  src: url("./fonts/Semibold/OpenSans-Semibold.eot?v=1.1.0");
  src: url("./fonts/Semibold/OpenSans-Semibold.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("./fonts/Semibold/OpenSans-Semibold.woff2?v=1.1.0") format("woff2"), url("./fonts/Semibold/OpenSans-Semibold.woff?v=1.1.0") format("woff"), url("./fonts/Semibold/OpenSans-Semibold.ttf?v=1.1.0") format("truetype"), url("./fonts/Semibold/OpenSans-Semibold.svg?v=1.1.0#Semibold") format("svg");
  font-weight: 600;
  font-style: normal; }
/* END Semibold */
/* BEGIN Semibold Italic */
@font-face {
  font-family: 'Open Sans';
  src: url("./fonts/SemiboldItalic/OpenSans-SemiboldItalic.eot?v=1.1.0");
  src: url("./fonts/SemiboldItalic/OpenSans-SemiboldItalic.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("./fonts/SemiboldItalic/OpenSans-SemiboldItalic.woff2?v=1.1.0") format("woff2"), url("./fonts/SemiboldItalic/OpenSans-SemiboldItalic.woff?v=1.1.0") format("woff"), url("./fonts/SemiboldItalic/OpenSans-SemiboldItalic.ttf?v=1.1.0") format("truetype"), url("./fonts/SemiboldItalic/OpenSans-SemiboldItalic.svg?v=1.1.0#SemiboldItalic") format("svg");
  font-weight: 600;
  font-style: italic; }
/* END Semibold Italic */
/* BEGIN Bold */
@font-face {
  font-family: 'Open Sans';
  src: url("./fonts/Bold/OpenSans-Bold.eot?v=1.1.0");
  src: url("./fonts/Bold/OpenSans-Bold.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("./fonts/Bold/OpenSans-Bold.woff2?v=1.1.0") format("woff2"), url("./fonts/Bold/OpenSans-Bold.woff?v=1.1.0") format("woff"), url("./fonts/Bold/OpenSans-Bold.ttf?v=1.1.0") format("truetype"), url("./fonts/Bold/OpenSans-Bold.svg?v=1.1.0#Bold") format("svg");
  font-weight: bold;
  font-style: normal; }
/* END Bold */
/* BEGIN Bold Italic */
@font-face {
  font-family: 'Open Sans';
  src: url("./fonts/BoldItalic/OpenSans-BoldItalic.eot?v=1.1.0");
  src: url("./fonts/BoldItalic/OpenSans-BoldItalic.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("./fonts/BoldItalic/OpenSans-BoldItalic.woff2?v=1.1.0") format("woff2"), url("./fonts/BoldItalic/OpenSans-BoldItalic.woff?v=1.1.0") format("woff"), url("./fonts/BoldItalic/OpenSans-BoldItalic.ttf?v=1.1.0") format("truetype"), url("./fonts/BoldItalic/OpenSans-BoldItalic.svg?v=1.1.0#BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic; }
/* END Bold Italic */
/* BEGIN Extrabold */
@font-face {
  font-family: 'Open Sans';
  src: url("./fonts/ExtraBold/OpenSans-ExtraBold.eot?v=1.1.0");
  src: url("./fonts/ExtraBold/OpenSans-ExtraBold.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("./fonts/ExtraBold/OpenSans-ExtraBold.woff2?v=1.1.0") format("woff2"), url("./fonts/ExtraBold/OpenSans-ExtraBold.woff?v=1.1.0") format("woff"), url("./fonts/ExtraBold/OpenSans-ExtraBold.ttf?v=1.1.0") format("truetype"), url("./fonts/ExtraBold/OpenSans-ExtraBold.svg?v=1.1.0#ExtraBold") format("svg");
  font-weight: 800;
  font-style: normal; }
/* END Extrabold */
/* BEGIN Extrabold Italic */
@font-face {
  font-family: 'Open Sans';
  src: url("./fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.eot?v=1.1.0");
  src: url("./fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("./fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.woff2?v=1.1.0") format("woff2"), url("./fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.woff?v=1.1.0") format("woff"), url("./fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.ttf?v=1.1.0") format("truetype"), url("./fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.svg?v=1.1.0#ExtraBoldItalic") format("svg");
  font-weight: 800;
  font-style: italic; }
/* END Extrabold Italic */

/*# sourceMappingURL=open-sans.css.map */



/*</Fonts>*/

@media screen and (-webkit-min-device-pixel-ratio:0) {  /*safari and chrome*/
    select {
        height:38px;
        line-height:38px;
        background:#f4f4f4;
    } 
}
select::-moz-focus-inner { /*Remove button padding in FF*/ 
    border: 0;
    padding: 0;
}
@-moz-document url-prefix() { /* targets Firefox only */
    select {
        padding: 19px 0!important;
    }
}        
@media screen\0 { /* IE Hacks: targets IE 8, 9 and 10 */        
    select {
        height:38px;
        line-height:38px;
    }     
}

@media screen and (max-width: 1025px) {
    .modulo{
    	height: 180px;
    }

    .solicitarfondos{
	background: url('../img/solicitarfondos.jpg')no-repeat;
	display: inline-block;

}



}
 
 /*//////////////////////////////////////////////////// Tablas Responsive ///////////////////////////////////////////////////*/

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table:not(.ui-datepicker-div *), thead:not(.ui-datepicker-div *), tbody:not(.ui-datepicker-div *), th:not(.ui-datepicker-div *), td:not(.ui-datepicker-div *), tr:not(.ui-datepicker-div *){ 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr :not(.ui-datepicker-div *){ 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr:not(.ui-datepicker-div *) { border: 1px solid #ccc; }
	
	td:not(.ui-datepicker-div *) { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before:not(.ui-datepicker-div *) { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}

	h1.titulo{
		font-size: 14pt;
		padding-left: 30px;
	}



	.cerrarmodal{
		height: 40px;
		width: 40px;
		background-size: cover!important;
	}
	
	.solicitarfondos, .rendirfondos, .crearoc, .ingresaroc, .solicitarper, .revisarinfo, .revisarmisliquidaciones, .permisoadmin, .permisohoras, .feriadolegal, .honorarios, .remuneraciones, .crearinforme, .revisarmisinformes, .solicitaranticipo, .gentarjetas, .genpendon{
	width: 90vw;
	height: 200px;

	float: left;

	margin: 0 auto 15px -30px;

	background-size: contain;
	background-position: center center!important;
	clear: both;

}

.ceafblanco{
	width: 100px;
	height: 48px;

}
.sandwich{
	width:25px;
	height: 21px;
}

#titulovista{
	font-size: 17pt;
}

#logovista, #codigovista{
	display: none;
}
.botongrande{
	font-size: 13pt;
	
	margin: 10px 0 5px 0;
}

}

.tdperfil{
	font-weight: 600!important;
	background: #414141!important;
	color: #FFF;

	font-size: 11pt;

	vertical-align: center!important;
}

.perfilcont input{
	height: 100%;

}