<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Form->postLink(
                __('Delete'),
                ['action' => 'delete', $periodIncome->id],
                ['confirm' => __('Are you sure you want to delete # {0}?', $periodIncome->id)]
            )
        ?></li>
        <li><?= $this->Html->link(__('List Period Incomes'), ['action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('List Employees'), ['controller' => 'Employees', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New Employee'), ['controller' => 'Employees', 'action' => 'add']) ?></li>
    </ul>
</nav>
<div class="periodIncomes form large-9 medium-8 columns content">
    <?= $this->Form->create($periodIncome) ?>
    <fieldset>
        <legend><?= __('Edit Period Income') ?></legend>
        <?php
            echo $this->Form->input('month');
            echo $this->Form->input('year');
        ?>
    </fieldset>
    <?= $this->Form->button(__('Submit')) ?>
    <?= $this->Form->end() ?>
</div>
