<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Form->postLink(
                __('Delete'),
                ['action' => 'delete', $travelProvision->id],
                ['confirm' => __('Are you sure you want to delete # {0}?', $travelProvision->id)]
            )
        ?></li>
        <li><?= $this->Html->link(__('List Travel Provisions'), ['action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('List Employees'), ['controller' => 'Employees', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New Employee'), ['controller' => 'Employees', 'action' => 'add']) ?></li>
        <li><?= $this->Html->link(__('List Budgets'), ['controller' => 'Budgets', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New Budget'), ['controller' => 'Budgets', 'action' => 'add']) ?></li>
    </ul>
</nav>
<div class="travelProvisions form large-9 medium-8 columns content">
    <?= $this->Form->create($travelProvision) ?>
    <fieldset>
        <legend><?= __('Edit Travel Provision') ?></legend>
        <?php
            echo $this->Form->input('start_date');
            echo $this->Form->input('end_date');
            echo $this->Form->input('employee_id', ['options' => $employees]);
            echo $this->Form->input('budget_id', ['options' => $budgets]);
            echo $this->Form->input('days');
            echo $this->Form->input('date_created');
        ?>
    </fieldset>
    <?= $this->Form->button(__('Submit')) ?>
    <?= $this->Form->end() ?>
</div>
