<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Form->postLink(
                __('Delete'),
                ['action' => 'delete', $periodDiscount->id],
                ['confirm' => __('Are you sure you want to delete # {0}?', $periodDiscount->id)]
            )
        ?></li>
        <li><?= $this->Html->link(__('List Period Discounts'), ['action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('List Employees'), ['controller' => 'Employees', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New Employee'), ['controller' => 'Employees', 'action' => 'add']) ?></li>
    </ul>
</nav>
<div class="periodDiscounts form large-9 medium-8 columns content">
    <?= $this->Form->create($periodDiscount) ?>
    <fieldset>
        <legend><?= __('Edit Period Discount') ?></legend>
        <?php
            echo $this->Form->input('month');
            echo $this->Form->input('year');
        ?>
    </fieldset>
    <?= $this->Form->button(__('Submit')) ?>
    <?= $this->Form->end() ?>
</div>
