<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('New Period Discount'), ['action' => 'add']) ?></li>
        <li><?= $this->Html->link(__('List Employees'), ['controller' => 'Employees', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New Employee'), ['controller' => 'Employees', 'action' => 'add']) ?></li>
    </ul>
</nav>
<div class="periodDiscounts index large-9 medium-8 columns content">
    <h3><?= __('Period Discounts') ?></h3>
    <table cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th><?= $this->Paginator->sort('id') ?></th>
                <th><?= $this->Paginator->sort('month') ?></th>
                <th><?= $this->Paginator->sort('year') ?></th>
                <th><?= $this->Paginator->sort('employee_id') ?></th>
                <th class="actions"><?= __('Actions') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($periodDiscounts as $periodDiscount): ?>
            <tr>
                <td><?= $this->Number->format($periodDiscount->id) ?></td>
                <td><?= h($periodDiscount->month) ?></td>
                <td><?= h($periodDiscount->year) ?></td>
                <td><?= $periodDiscount->has('employee') ? $this->Html->link($periodDiscount->employee->id, ['controller' => 'Employees', 'action' => 'view', $periodDiscount->employee->id]) : '' ?></td>
                <td class="actions">
                    <?= $this->Html->link(__('View'), ['action' => 'view', $periodDiscount->id]) ?>
                    <?= $this->Html->link(__('Edit'), ['action' => 'edit', $periodDiscount->id]) ?>
                    <?= $this->Form->postLink(__('Delete'), ['action' => 'delete', $periodDiscount->id], ['confirm' => __('Are you sure you want to delete # {0}?', $periodDiscount->id)]) ?>
                </td>
            </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
    <div class="paginator">
        <ul class="pagination">
            <?= $this->Paginator->prev('< ' . __('previous')) ?>
            <?= $this->Paginator->numbers() ?>
            <?= $this->Paginator->next(__('next') . ' >') ?>
        </ul>
        <p><?= $this->Paginator->counter() ?></p>
    </div>
</div>
