<?php
session_start();
 // store session data
?>
<!doctype html>
<html><head>

<meta charset="utf-8">
<title>Viáticos</title>
<body color="gris">
   <form id="ViaticosAddForm" method="post" action="viaticos/add">

     <h1 class="titulo">Mi Perfil <button type="button" class="close cerrarmodal nopadding" data-dismiss="modal" aria-hidden="true"></button></h1>
<div class="col-md-12 contenedor wrapper">

    <div id="perfil1" class="perfilcont text-center">
    <br>
        <h1 class="grande textoverde"> Nombre Apellido </h1>        
        <h2> Profesión </h2>
        <h2> Área del Usuario -gestión, genómica, etc- </h2>
        <h2> Cargo </h2>
        <h2> RUT 15.515.212-0 </h2>
    

    </div>

<hr>

    <div id="perfil2" class="perfilcont text-center col-md-8 col-md-offset-2">
       <table class="table table-bordered"> 

        <tr>
            <th class="tdperfil col-md-3"> Correo:</th>
            <td class="col-md-9"> <input class="text-center" value="correoactual@ceaf.cl"> </td>
        </tr>

        <tr>
            <th class="tdperfil"> Dirección:</th>
            <td><input class="text-center" value="Pedro Matus #1038, Población José Olivares, Rancagua"> </td>
        </tr>

        <tr>
            <th class="tdperfil"> Teléfono:</th>
            <td><input class="text-center" value="+569 51000071"> </td>
        </tr>
    </table>

    <table class="table table-bordered">

        <tr>
            <th class="tdperfil col-md-3"> Teléfono para Emergencias:</th>
            <td class="col-md-9"><input class="text-center" value="+569 72750398"> </td>
        </tr>

        <tr>
            <th class="tdperfil"> Contacto Emergencias:</th>
            <td><input class="text-center" value="Ana"> </td>
        </tr>
        <tr>
            <th class="tdperfil"> Relación con el contacto:</th>
            <td><input class="text-center" value="Madre"> </td>
        </tr>
</table>

<table class="table table-bordered">
        <tr>
  
            <th class="tdperfil col-md-3"> Cambiar Contraseña:</th>
            
                <td><input class="text-center" value="Ingrese Contraseña Actual"> </td>            
                <td><input class="text-center" value="Ingrese Contraseña Nueva"> </td>            
                <td><input class="text-center" value="Confirme Contraseña Nueva"> </td>

        </tr>
</table>






      </table>
    </div>
  
</div>



</form>
</body>
</html>