<h1 class="titulo">Compras<button type="button" class="close cerrarmodal nopadding" data-dismiss="modal" aria-hidden="true"></button></h1>
<div class="contenedor nopadding nomargin">  
	<div class="col-md-12 wrapper">
		<div class="seleccionmodulos centrar">
			<?= $this->Html->link('<div class="crearoc nopadding"></div>', [ 'controller' => 'modales', 'action' => 'loadFormOc'], ['escape' => false, 'data-toggle' => 'modal', 'data-target' => '#compras1']); ?>
			<?= $this->Html->link('<div class="ingresaroc nopadding"> </div>', ['controller' => 'modales', 'action' => 'loadIngresoCompra'], ['escape' => false, 'data-toggle' => 'modal', 'data-target' => '#compras2']); ?>
		</div>
	</div>
</div> <!--contenedor-->