<title>Permisos</title>
<h1 class="titulo">Módulo de Asistencia a Colaboradores<button type="button" class="close cerrarmodal nopadding" data-dismiss="modal" aria-hidden="true"></button></h1>
<div class="contenedor nopadding nomargin">  
    <div class="col-md-12 col-xs-12 wrapper">
	    <div class="seleccionmodulos centrar">
			<?= $this->Html->link('<div class="solicitarper nopadding"> </div>', [ 'controller' => 'modales', 'action' => 'loadSolicitudPermisos'],['escape' => false, 'data-toggle' => 'modal', 'data-target' => '#permisos1']); ?>
			<?= $this->Html->link('<div class="revisarinfo nopadding"> </div>', [ 'controller' => 'modales', 'action' => 'loadRevisarInfo'],['escape' => false, 'data-toggle' => 'modal', 'data-target' => '#revisarpermisos']); ?>
	    </div>
    </div>
</div> <!--contenedor-->

<script>
   			$("input[name=type][value='MEDIO-ADMIN']").prop("checked",true);

   			</script>
