<title>Rendiciones</title>
<h1 class="titulo">Rendiciones<button type="button" class="close cerrarmodal nopadding" data-dismiss="modal" aria-hidden="true"></button></h1>

<div class="contenedor nopadding nomargin">  
    <div class="col-md-12 col-xs-12 wrapper">
        <div class="seleccionmodulos centrar">
           <?= $this->Html->link('<div class="solicitarfondos nopadding col-xs-12"> </div>', [ 'controller' => 'modales', 'action' => 'loadFormRendicion'],['escape' => false, 'data-toggle' => 'modal', 'data-target' => '#rendicion1']); ?>
           <?= $this->Html->link('<div class="rendirfondos nopadding col-xs-12"> </div>', [ 'controller' => 'modales', 'action' => 'loadFormRendir'],['escape' => false, 'data-toggle' => 'modal', 'data-target' => '#rendicion2']); ?>
        </div>
    </div>
</div> <!--contenedor-->


